.activities {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.activities .page-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activities .page-header {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.activities .page-header__title {
  color: #0d1728;
  font-family: var(--headings-h1-font-family);
  font-size: var(--headings-h1-font-size);
  font-style: var(--headings-h1-font-style);
  font-weight: var(--headings-h1-font-weight);
  letter-spacing: var(--headings-h1-letter-spacing);
  line-height: var(--headings-h1-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.activities .page-header__subtitle {
  color: #595959;
  font-family: var(--subtitles-subtitle-2-font-family);
  font-size: var(--subtitles-subtitle-2-font-size);
  font-style: var(--subtitles-subtitle-2-font-style);
  font-weight: var(--subtitles-subtitle-2-font-weight);
  letter-spacing: var(--subtitles-subtitle-2-letter-spacing);
  line-height: var(--subtitles-subtitle-2-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.activities .search-filter-action {
  display: flex;
  gap: 16px;
  align-items: center;
  position: relative;
}

.empty-state-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-grow: 1;
}

.all-activities-table {
  gap: 0;
  min-height: 0;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  flex: unset;
  width: 100%;
} 
.activities-table-fullwidth {
  width: 100% !important;
  min-width: 0 !important;
  box-sizing: border-box;
}
.HcAcT {
 padding: 0 !important;
}