/* Global overrides for library components */

/* Fix dropdown menu width and positioning */
.idbZXk .menu-wrapper {
  position: absolute !important;
  top: calc(100% + 8px) !important;
  right: 0 !important;
  z-index: 1000 !important;
  min-width: fit-content !important;
  width: max-content !important;
  background-color: red !important;
}
.snackbar-fixed-bottom-right .content {
  display: flex !important;
  align-items: center !important;
  gap: 12px !important;
}
.snackbar-fixed-bottom-right > div {
  box-shadow: none !important;
  padding: 2px !Important ;
}